<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Credit Card App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-credit-cards">Lista Carte di Credito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-credit-card">Aggiungi Carta di Credito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search-credit-card">Ricerca Carta di Credito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/check-credit-card">Verifica Carta di Credito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-recharge">Aggiungi Ricarica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-recharges-by-card">Visualizza Ricariche per Carta di Credito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-recharges-by-date">Visualizza Ricariche per Intervallo di Date</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  